body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  
  &__logo {
    display: inline-block;
  }

  &__nav {
    display: inline-block;
    float: right;
  }
}

.showcase {

}