body {
  margin: 0;
}

div {
  width: 150px;
  height: 150px;
  background-color: red;
  animation-name: moving;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes moving{
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(1000px);
  }
}