@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Roboto');

$primaryColor: black;
$secondaryColor: #ebe9e7;

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: $primaryColor;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Great Vibes', cursive;
  color: black;
  background-color: white;
  padding: 1rem;
}

a:hover {
  text-decoration: none;
}

.navbar {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  z-index: 10;
}

.nav-link {
  &:hover {
    background-color: $secondaryColor;
  }
}

.v-header {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.2;
  z-index: 1;
}

.header-content {
  z-index: 2;
}

.main {
  position: relative;
  z-index: 20;
}