@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Allura');

$primaryColor: #464545;

body {
  margin: 0;
}

.container {
  display: flex;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    flex: 1;
    height: 100vh;
  }

  &__right {
    flex: 3;
    height: 100vh;
    background-color: black;
  }
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 70%;
    border: 1px solid black;
    border-radius: 50%;
  }

  &__title {
    font-family: 'Allura',
    cursive;
    font-size: 3.5rem;
  }
}

.nav {
  border: 1px solid black;
  width: 80%;
  &__item {
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    border: 1px solid grey;
    display: block;
    text-align: center;
    padding: 5%;
  }

  &__item:visited {
    color: black;
  }

  &__item:hover {
    background-color: $primaryColor;
    color: white;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  &__item {
    margin: 0 1rem;
    width: 10%;
    height: 10%;
  }
}

#showcase {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

// @media () {

// }